body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.hero {
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
    padding-top: 8px;
    padding-left: 48px;
    padding-right: 48px;
    padding-bottom: 64px;
}

.header {
    display: flex;
    align-items: center;
    padding-bottom: 32px;
}

.logo {
    font-size: 24px;
    font-weight: 700;
    color: #f9faf8;
    margin-right: auto;
}

.links {
    list-style: none;
    font-size: 18px;
    display: flex;
    gap: 16px;
}

li > a {
    text-decoration: none;
    color: #e5e7eb;
}

.hero-content {
    display: flex;
}

.hero-content > img {
    height: 200px;
    width: 400px;
    object-fit: cover; /* make image crop instead of stretch */
    margin-left: auto;
}

.hero-text {
    display: flex;
    flex-direction: column;
}

.hero-text > h1 {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    margin: 0;
}

.hero-text > p {
    font-size: 18px;
    color: #e5e7eb;
    margin: 0;
}

.button {
    background-color: #3882f6;
    color: #f9faf8;
    border: #f9faf8 2px solid;
    border-radius: 4px;
    padding: 8px 24px;
}

#hero-btn {
    border: none;
    margin-top: auto;
    align-self: flex-start;
}

.call {
    background-color: #3882f6;
}